@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body * {
    font-family: "Noto Sans";
}

.logo {
    background-image: url(https://www.paypalobjects.com/digitalassets/c/website/logo/full-text/pp_fc_hl.svg);
    background-size: contain;
    width: 136px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    display: inline-block;
    margin-top: 0.7vh;
    margin-bottom: 0.7vh;
}


#footer {
    padding: 60px 0;
    background-color: white;
    font-size: 14px;
    line-height: 1.42857143;
}


#v-line {
    border-left: 1px solid #ccc;
    height: 1em;
    margin: 0 0.4em;
    align-self: center;
}

#r-line {
    border-top: 1px solid #ccc;
    margin: 0.8em 0;
}

#rowFooter1,
#rowFooter2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#leftArea,
#rightArea {
    display: flex;
    flex-direction: row;
}

#rowFooter1 a {
    margin: 0 0.4em;
    color: black;
}

#rowFooter1 #leftArea * {
    font-weight: bold;
}

#rowFooter2 * {
    font-weight: bold;
}

#rowFooter2 a,
#rowFooter2 span {
    margin: 0 0.5em;
    color: gray;
}